<html>
 <head>
     <title>Blog App</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.css">
     <link rel="stylesheet"  type="text/css" href="/app.css">
 </head>
 <body>
 <div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="code icon"></i> Blog Site</div>
        <a class="item" href="/blogs">
            Home
        </a>
        <a class="item" href="/blogs/new">
            New Post
        </a>
    </div>

 </div>
