<%include header.ejs%>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="post">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[name]" placeholder="title">
        </div>
        <div class="field">
            <label>image</label>
            <input type="text" name="blog[image]" placeholder="image">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]"></textarea>
        </div>
        <button class="ui green big basic button">Submit</button>
    </form>
</div>
<%include footer.ejs%>
